{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "block-scoped-var": 2,
    "eqeqeq": [2, "smart"],
    "no-eq-null": 2,
    "no-implicit-coercion": 2,
    "no-multi-spaces": 2,
    "no-console": 0,
    "indent": [2, "tab"],
    "semi": [2, "always"],
    "complexity": 1
  },
  "extends": "eslint:recommended"
}
